--- 
--- 

@import "{{ site.theme }}";

// Add two-column layout for content and navbar

#container {
    display: flex;
    flex-direction: row-reverse;

    /* Responsive layout - makes a one column layout instead of a two-column layout */
    @media (max-width: 1200px) {
        flex-direction: column;
    }
}

#content {
    flex: 3;
}

#page-navigation {
    flex: 1;
}